.mainButton {
   background-color: var(--accent-main-color);
   color: #fff;
   border-radius: 30px;
   width: 200px;
   line-height: 45px;
   height: 45px;
   text-align: center;
   text-transform: uppercase;
   font-family: var(--font-montserrat);
   font-weight: 500;
   box-shadow: var(--main-box-shadow);
   transition: var(--main-transition);
}

.mainButton:hover,
.mainButton:focus {
   background-color: var(--accent-main-color-hover);
   letter-spacing: 0.04rem;
}