/* Телефон для вызова главного popUp */
.body {
   position: fixed;
   bottom: 3%;
   right: 3%;
   background-color: #fff;
   width: 60px;
   height: 95px;
   border-radius: 14px;
   padding: 3px;
   box-shadow: 0 0 18px 0 rgb(0 0 0 / 30%), 0 0 12px 0 rgb(0 0 0 / 20%), 0 0 5px 0 rgb(0 0 0 / 20%);
   cursor: pointer;
   z-index: 10;
}
.screen {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to left top, #EE7752, #E73C7E, #23A6D5, #23D5AB);
   background-size: 350% 350%;
   border-radius: 11px;
   width: 100%;
   height: 100%;
   animation: animation-gradient 15000ms infinite forwards;
}
.screen:after {
   content: '';
   position: absolute;
   bottom: 5%;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   transition: all 450ms ease-out 0ms;
}
.body:hover .screen:after {
   background-color: rgba(255, 255, 255, 0.5);
}
.screen:before {
   content: '';
   position: absolute;
   top: 0;
   transform: translateY(-50%);
   border-radius: 40px;
   width: 20px;
   height: 6px;
   background-color: #fff;
}

.screen i {
   margin: 0 0 15px 5px;
   font-size: 30px;
   color: rgba(255, 255, 255, 0.8);
   text-shadow: 0 0 8px rgb(0 0 0 / 30%);
   transform: rotate(-30deg);
}
.body:hover .screen i {
   animation: drag-screen 1700ms infinite ease-in-out;
}
@keyframes animation-gradient{
   0% {
         background-position: 0% 50%;
   }

   50% {
         background-position: 100% 50%;
   }
   100% {
         background-position: 0% 50%;
   }
}
@keyframes drag-screen {
   0% {
      transform: rotate(-30deg);
   }
   15% {
      transform: rotate(-45deg);
   }
   35% {
      transform: rotate(-25deg);
   }
   55% {
      transform: rotate(-45deg);
   }
   70% {
      transform: rotate(-25deg);
   }
   100% {
      transform: rotate(-30deg);
   }
}
/* Конец */