.wrapper {
  min-width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h1 {
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: 15px;
  text-align: center;
  padding: 0 120px;
}

.wrapper h2 {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 30px;
  text-align: center;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.item {
  position: relative;
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  transition: all 450ms ease 0ms;
}

.item:hover {
  box-shadow: var(--main-box-shadow);
}

.item img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 450ms ease-out 0ms;
}

.item:hover img {
  transform: scale(1.03);
}

.item__body {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 450ms ease-out 0ms;
  z-index: 3;
}

.item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 450ms ease-out 0ms;
  z-index: 1;
}

.item:hover:after {
  backdrop-filter: blur(0);
  background-color: rgba(0, 0, 0, 0);
}

.item__body a {
  color: #fff;
  text-align: center;
}

.item__body a:nth-child(1) {
  position: absolute;
  transform: translateY(-50%);
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.15rem;
  transition: var(--main-transition);
  line-height: 85%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.item__body a:nth-child(1):hover {
  color: var(--accent-main-color);
  letter-spacing: 0.31rem;
}

.item__body a:nth-child(2) {
  position: absolute;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--accent-main-color);
  transition: var(--main-transition);
  transform: translateY(100%);
  box-shadow: var(--main-box-shadow);
}

.item__body a:nth-child(2):hover {
  letter-spacing: 0.25rem;
  border: 2px solid var(--accent-main-color-hover);
  background-color: var(--accent-main-color-hover);
}

/* 1100px */
@media screen and (max-width: 1100px) {
  .wrapper h1 {
    font-size: 2.2rem;
    padding: 0;
  }

  .items {
    grid-template-columns: 1fr 1fr;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .wrapper h1 {
    line-height: 94%;
  }

  .items {
    grid-template-columns: 1fr;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .wrapper h1 {
    font-size: 1.7rem;
  }

  .wrapper h2 {
    font-size: 1.2rem;
  }

  .item {
    position: relative;
    width: 280px;
    height: 180px;
  }
}
