.wrapper {
   background: rgb(14,14,14);
   background: linear-gradient(176deg, rgba(14,14,14,1) 0%, rgba(24,24,24,1) 50%, rgba(0,0,0,1) 100%);
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   box-shadow: var(--main-box-shadow);
   color: #fff;
   margin-top: auto;
}

.row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   max-width: 1140px;
   padding: 60px 20px;
   margin: 0 auto;
}

.col {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}

.col h5 {
   color: #fff;
   font-weight: 600;
   margin-bottom: 10px;
   font-size: 1.2rem;
}

.col a {
   color: #fff;
   font-weight: 400;
   margin-bottom: 15px;
   border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
   padding-bottom: 3px;
   transition: var(--main-transition);
}

.col a:hover {
   color: var(--accent-main-color);
   padding-bottom: 2px;
}

.col a.activeLink {
   color: var(--accent-main-color);
   padding-bottom: 2px;
}

.col ul li {
   margin-bottom: 15px;
   list-style: none;
}

.blockInfo__timetable {
   color: var(--green-color);
   font-weight: 500;
}


/* screen 768px */
@media (max-width: 768px){
   .row {
      flex-direction: row;
      flex-wrap: wrap;
   }
}

/* screen 500px */
@media (max-width: 500px){
   .row {
      flex-direction: column;
   }
   .col:nth-child(2) {
      margin: 20px 0;
   }
}

/* screen 321px */
@media (max-width: 321px) {
   .col:nth-child(1) a {
      font-size: 0.86rem;
   }
}